footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(17, 14, 48);
    height:13%;
}
footer p{
    color:#ffff;
}
footer a{
    text-decoration: none;
}