nav ul {
    display:flex;

   width: 70%;
   margin-left: auto;
   margin-right: auto;
   justify-content:flex-end;
}
nav ul li{
    margin:20px;

}
.responsive-navbar{
    display:none;

}
nav ul li:first-child{
    justify-content:flex-start;
}
nav{
    display:flex;
    background-color:#fffffff7;
    position:fixed;

    width:100%;
    z-index:9999;
    height:64px;
    box-shadow: rgba(3,27,78,.1) 0 2px 4px;
}
nav ul li a, nav ul li a:active, nav ul li a:link{
    color:inherit;
    text-decoration: none;
   
    margin: 0 5px;
    font-size: 16px;
    font-weight:400;
    letter-spacing: 1px; 
    transition:  0.5s !important;
}
nav ul li a:hover{
   color:#207de9;
}
